.instruction{
    
}
.sample{
    border:1px dashed #eeeeee;
}
.sample textarea{
    border:1px solid #999;
    background-color:#eee;
    width:90%;
    margin:5px auto;
    padding:5px;
}
.sample iframe{
    border:1px solid #999;
    background-color:#eee;
    width:90%;
}